.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.outfit-regular {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.outfit-bold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.outfit-semibold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

*,
body,
h1,
h2,
p,
ul,
ol,
li,
hr {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3e5d7;
    padding-block-start: 128px;
}

.container {
    max-width: 656px;
    margin-inline: auto;
    background-color: #fff;
    border-radius: 24px;
    padding: 40px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #5f564d;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 40px;
}

h1 {
    font-size: 40px;
    color: #312e2c;
    line-height: 100%;
}

h2 {
    color: #854632;
    font-size: 28px;
    line-height: 100%;
}

ul,
ol {
    list-style: none;
}

hr {
    border: 1px solid #e3ddd7;
}

section:first-of-type {
    padding: 24px;
    border-radius: 12px;
    background-color: #fff7fb;
}

section:first-of-type h2 {
    font-size: 20px;
    color: #7a284e;
}

section span {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}
