body {
    background-color: #F3E5D7;
    padding-block-start: 128px;
}


.container {
    max-width: 656px;
    margin-inline: auto;
    background-color: #fff;
    border-radius: 24px;
    padding: 40px;
}

